<section class="header myfade">
  <div class="image-around"></div>
  <h2 class="titulo">Itallo Castro Developer</h2>
  <p class="titulo">Meu nome é Itallo Patrick e eu sou desenvolvedor Full-stack Web, desenvolvedor mobile e desenvolvedor de bot's dos mais variados tipos. Atualmente, sou bolsista no Centro de Inovação <a href="http://edgebr.org/" target="_blank" style="text-decoration: none; color: #1F2C73">Edge</a>.</p>
  <div class="button-group">
    <a class="myButtonOne" href="#contato">Contato</a>
    <a class="myButtonTwo" href="#servico">Meus Serviços</a>
  </div>

</section>
