.header {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #F2F2F2;
  background-position: center;
  background-size: cover;
  position: relative;
}
h2 {
  font-size: 2em;

  color: #1F2C73;
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: sans-serif;
}
p {
  color: #1F2C73;
  font-size: 1.5em;
  margin-top: 0.3em;
  font-family: sans-serif;
}
.titulo {
  width: 100%;
}
.image-around {
  height: 200px;
  width: 200px;
  display: inline-block;
  border-radius: 50%;
  background-image: url("../../../assets/itallo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.myButtonOne {
  display: inline-block;
  width: 100px;

  /* Padding and margins */
  padding: 1em;
  margin-left: auto;
  margin-right: auto;

  /* Text styles */
  color: white;
  text-decoration: none;
  font-size: 0.8em;

  /* Border styles */
  border: 3px solid white;
  border-radius: 20px;

  /* Background styles */
  background-color: #F27C38;
}
.myButtonOne:hover {
  background-color: white;
  color: #485DD9;
  border: 3px solid #485DD9;
}
.myButtonTwo {
  display: inline-block;
  width: 150px;

  /* Padding and margins */
  padding: 1em;
  margin-left: 10px;
  margin-right: auto;

  /* Text styles */
  color: #485DD9;
  text-decoration: none;
  font-size: 0.8em;

  /* Border styles */
  border: 3px solid #485DD9;
  border-radius: 20px;

  /* Background styles */
  background-color: white;
}
.myButtonTwo:hover {
  background-color:  #F27C38;
  border: 3px solid white;
  color: white;
}
.button-group {
  margin-bottom: 50px;
}
.myfade {
  animation-name: deslocamento;
  animation-timing-function: linear;
  animation-duration: 0.7s;
}
@media all and (max-width: 950px) {
  h2 , p {
    font-size: 0.8em;
    margin: 0;
  }
  .image-around {
    height: 100px;
    width: 100px;
  }
  .myButtonOne {
    width: 100px;
    font-size: 0.5em;
    margin-bottom: 1em;
  }
  .myButtonTwo {
    width: 100px;
    font-size: 0.5em;
    margin-bottom: 1em;
  }
}
@keyframes deslocamento {
  from {margin-left: -1000px}
  to {margin-left: 0px}
}

