* {
  box-sizing: border-box;
  padding: 0 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.row {
  margin: 0;
  background-color: #1F2C73;
  //overflow: hidden;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.column {
  text-align: center;
  float: left;
  display: flex;
  width: 25%;
  height: 100vh;
  padding: 0 10px;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  padding: 5px;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  animation-name: transform;
  animation-duration: 0.5s;
}
@keyframes transform {
  from {transform: translateY(0px)}
  to {transform: translateY(-10px)}
}
.angular {
  height: 200px;
  width: 200px;
  display: inline-block;
  border-radius: 100%;
  background-image: url("../../../assets/angular.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.express {
  height: 200px;
  width: 200px;
  display: inline-block;
  border-radius: 50%;
  background-image: url("../../../assets/express2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nodejs {
  height: 200px;
  width: 200px;
  display: inline-block;
  border-radius: 100%;
  background-image: url("../../../assets/nodejs1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.python {
  height: 200px;
  width: 200px;
  display: inline-block;
  border-radius: 100%;
  background-image: url("../../../assets/python.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
i {
  margin: 0;
  padding: 0;
}
h1, p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-family: sans-serif;
  font-size: 1rem;
}
.column .card h1 {
  background-color: #F27C38;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 0.5rem;
}
.titulo {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
.text {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1000px) {
  h1,p {
    font-size: 0.8rem;
  }

}
@media screen and (max-width: 940px) {
  h1,p {
    font-size: 0.5rem;
  }
  .angular, .python, .express, .nodejs {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 850px) {
  h1,p {
    font-size: 0.4rem;
  }
}
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
    height: auto;
    //padding-bottom: 20px;
  }
  h1,p {
    font-size: 1rem;
  }
  .titulo {
    margin-top: 0px;
  }
}
