<div class="row" id="tecnologia">
  <div class="titulo">
    <i class="fas fa-server"></i>
    <h2 >Tecnologias <i class="fas fa-terminal"></i></h2>
  </div>
  <div class="column">
    <div class="card">
      <div class="angular"></div>
      <br>
      <h1>Angular</h1>
      <p>Framework para construção de aplicações que utiliza: HTML, CSS e Typescript.Muitos utilizados quando o assunto é <i>single page application</i>.</p>
      <p>Utilizo essa tecnologia para o desenvolvimento frontend de aplicações web.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="express"></div>
      <br>
      <h1>Express js</h1>
      <p>Framework para Node js com muitos recursos para o desenvolvimento web.</p>
      <p>Utilizo essa tecnologia para a criação de api's que servem nossa aplicação web.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="nodejs"></div>
      <br>
      <h1>Node js</h1>
      <p>Ambiente de execução javascript, onde podemos executar nossa aplicação sem necessariamente precisar de um browser.Apresenta alta capacidade de escalabilidade.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="python"></div>
      <br>

      <h1>Python</h1>
      <p>Utilizo essa linguagem para o desenvolvimento de bot's automatizados para os mais diversos fins.</p>
    </div>
  </div>
</div>
