<div class="teste" id="contato">
  <ul class="menu">
    <li class="copy">Copyright <fa-icon [icon]="copyIcon"></fa-icon> Itallo Castro. Todos os direitos reservados.</li>
    <div class="right-align">
      <li class="item">
        <a href="https://www.instagram.com/itallocastro_/" target="_blank">
          <fa-icon [icon]="instagramIcon"></fa-icon> itallocastro_
        </a>
      </li>
      <li class="item">
        <a href="https://www.linkedin.com/in/itallo-castro-723a02170/" target="_blank">
          <fa-icon [icon]="linkedinIcon"></fa-icon> Linkedin
        </a>
      </li>
      <li class="item">
        <a href="http://wa.me/5582999144786" target="_blank">
          <fa-icon [icon]="whatsIcon"></fa-icon> +55 (82) 99914-4786
        </a>
      </li>
      <li class="item"><a><fa-icon [icon]="foneIcon"></fa-icon> +55 (82) 99914-4786</a></li>
    </div>
  </ul>
</div>
