<div class="teste" id="contato">
  <ul class="menu">
    <div class="right-align">
      <li class="item">
        <a href="https://www.instagram.com/itallocastro_/" target="_blank">
          <i class="fab fa-instagram"></i> itallocastro_
        </a>
      </li>
      <li class="item">
        <a href="https://www.linkedin.com/in/itallo-castro-723a02170/" target="_blank">
          <i class="fab fa-linkedin"></i>Linkedin
        </a>
      </li>
      <li class="item">
        <a href="http://wa.me/5582998308253" target="_blank">
          <i class="fab fa-whatsapp"></i> +55 (82) 99830-8253
        </a>
      </li>
      <li class="item"><a><i class="fas fa-phone-volume"></i> +55 (82) 99914-4786</a></li>
    </div>
  </ul>
</div>
