<div class="row" id="servico">
  <div class="titulo">
    <i class="far fa-lightbulb"></i>
    <h2 >Meus Serviços <i class="fas fa-terminal"></i></h2>
  </div>

  <div class="column">
    <div class="card">
      <h4><i class="fas fa-desktop" style="color: #F27C38"></i></h4>
      <h1 class="text" >Desenvolvedor Web</h1>
      <p class="text" >Desenvolvo sistemas web completos, como: e-commerce, sites de vendas, portfólios profissionais e os mais diversos tipos.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4><i class="fas fa-mobile-alt" style="color: #F27C38"></i></h4>
      <h1 class="text" >Desenvolvedor Mobile</h1>
      <p class="text" >Desenvolvo sistemas mobile completos utilizando as tecnologias mais atuais do mercado.</p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h4><fa-icon [icon]="faRobot" style="color: #F27C38"></fa-icon></h4>
      <h1 class="text" >Desenvolvedor de Bot's</h1>
      <p class="text" >Desenvolvo bot's com total automação para Whatsapp, Telegram, entre outros.</p>
    </div>
  </div>
</div>
