* {
  box-sizing: border-box;
  padding: 0 15px;
  margin-top: 25px;
  margin-bottom: 10px;
}
.row {
  margin: 0;
  background-color: #1F2C73;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}
.column {
  float: left;
  display: flex;
  width: 33%;
  height: 30vh;
  padding: 0 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  padding: 5px;
  //text-align: center;
  background-color: #F2F2F2;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  animation-name: transform;
  animation-duration: 0.5s;
}
h4 {
  margin: 0;
  text-align: center;
}
i {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
h1, p {
  text-align: center;
  color: #1F2C73;
  font-family: sans-serif;
  font-size: 1rem;
}
.titulo {
  margin: 0;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
.text {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 940px) {
  h1,p {
    font-size: 1.4rem;
  }
  .column {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@keyframes transform {
  from {transform: translateY(0px)}
  to {transform: translateY(-10px)}
}
