/* You can add global styles to this file, and also import other style files */
//@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
